# Ignore .temp files
*.temp

# Ignore contents of obj and bin folders
obj/
bin/
src/*.ttf

# But allow specific things in obj and bin
!obj/touch
!bin/touch

# Ignore Python-specific files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore log files
*.log
*.out

# Ignore backup files
*.swp
*.swo
*.bak
